.current_map{
	width: 700px;
	height: 700px;
	margin: 50px auto;
}

body{
	width: 1000px;
	margin: 0 auto;
	padding-top: 20px;
}

#interval_IO_container{
	margin-bottom: 20px;
}

#MinMaxAlram{
  margin: 10px 0px;
}

#MinMaxAlram span{
	display: inline-block;
	width: 50px;
	text-align: center;
}

#MinMaxAlram [alram]{
	display: inline-block;
	width: 940px;
}

#current_table{
	width: 100%;
	max-height: 300px;
	overflow-y: auto;
}

#current_table tr{

}

#current_table th{

}

#current_table td{

}

